.sidebar {
  width: calc(400px + 10vw);
  flex-shrink: 0;
  background-color: #1a1a1a;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-inline: 3rem;
  padding-top: 2rem;
  gap: 1rem;
}

.nav {
  background-color: #333333;
  display: flex;
  overflow: hidden;
}

.nav a {
  color: #fff;
  font-weight: 500;
  position: relative;
  padding: 0.3rem 1.5rem;
  z-index: 2;
  transition: 0.3s;
}

.nav a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: transparent;
  z-index: -1;
  transition: 0.3s;
}

.nav a:global(.active) {
  color: #000;
}

.nav a:global(.active::before) {
  background-color: #ffda94;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.sidebar footer {
  margin-top: auto;
  padding: 1rem;
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
}

@media (max-width: 690px) {
  .sidebar {
    width: 100%;
    padding: calc(0.5rem + 2vw);
    padding-top: 2rem;
    order: 1;
  }
}
